{
  "env": {
    "development": {
      "plugins": [
        "@babel/syntax-dynamic-import",
        "universal-import",
        "import-graphql",
        "react-hot-loader/babel",
        ["babel-plugin-styled-components", {
          "ssr": true
        }]
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "debug": false
          }
        ],
        ["@babel/preset-stage-0", {
          "useBuiltIns": true,
          "decoratorsLegacy": true
        }],
        "@babel/preset-react",
      ]
    },
    "production": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "ssr": true
        }],
        "@babel/syntax-dynamic-import",
        "universal-import",
        "import-graphql"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "debug": false
          }
        ],
        ["@babel/preset-stage-0", {
          "useBuiltIns": true,
          "decoratorsLegacy": true
        }],
        "@babel/preset-react"
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": "commonjs",
            "targets": {
              "node": "current"
            }
          }
        ],
        ["@babel/preset-stage-0", {
          "useBuiltIns": true,
          "decoratorsLegacy": true
        }],
        "@babel/preset-react"
      ]
    }
  }
}