{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "debug": false
      }
    ],
    ["@babel/preset-stage-0", {
      "useBuiltIns": true,
      "decoratorsLegacy": true
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["babel-plugin-styled-components", {
      "ssr": true,
      "displayName": true
    }],
    "@babel/syntax-dynamic-import",
    "universal-import",
    "import-graphql"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}