{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true
      }
    ],
    [
      "@babel/preset-stage-2",
      {
        "decoratorsLegacy": true,
        "useBuiltIns": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/syntax-dynamic-import",
    "universal-import",
    "import-graphql",
    "@babel/plugin-transform-spread",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": "commonjs",
            "targets": {
              "node": "current"
            }
          }
        ],
        ["@babel/preset-stage-2", {
          "useBuiltIns": true,
          "decoratorsLegacy": true
        }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}